
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <!--Guest login-->
    <form ng-submit="submit()">
        <div class="list">
            
        <!--guest input-->  
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-modle="name" placeholder="guest"/>
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="text" ng-modle="pass" placeholder="password"/>
         </label>
            
        <!--login button-->
        <label class="item" ng-show="!isChecked">
            <button class="button button-block button-positive" 
                  ng-click="doGuestLogin()">
                    Log in as guest
            </button>
        </label>
            
        <!--logout button-->
        <label class="item" ng-show="isChecked">
            <button class="button button-block button-positive" 
                  ng-click="logout()">
                    Log out as guest
            </button>
        </label>
            
        </div>
    </form>
    <!--Facebook login-->
    <form ng-submit="doLogin()">
      <div class="list">
        <!--login button-->
        <label class="item" ng-show="!isAuthenticated()">
            <button class="button button-block button-positive" 
                  ng-click="authenticate('facebook')">
                    Log in with Facebook
            </button>
        </label>
          
        <!--logout button-->
        <label class="item" ng-show="isAuthenticated()">
            <button class="button button-block button-positive" 
                  ng-click="logout()">
                    Log out from Facebook
            </button>
        </label>
      </div>
    </form>
      
  </ion-content>
</ion-modal-view>
